<div class="header-container">
    <div class="logo" (click)="GoToHome">Fashioninsta</div>
    <div class="MensClothing">Men's Clothing</div>
    <div class="WomensClothing">Women's Clothing</div>
    <div class="Electronics">Electronics</div>
    <div class="Jewellery">Jewellery</div>
    <div class="SearchByCategory">Search by Category</div>
    <div>
        <span>{{cartCounter}}</span>
        <img src="../../assets/images/cart.png" alt=""></div>
    <div class="logout" (click)="logout()">Logout</div>
</div>
