
<div class="login-container">
    <img class ="fashion" src="assets/images/fashion1.png" alt="">
    <div class="logo">Fashioninsta</div>
    <div class="description">
        This is the new world of fashion for all
        your fashion needs just visit us and get
        your favourite products at your doorsteps 
        in a matter of few clicks!!!!!
    </div>
    <div class="login-form">
    <div class="form-group">
        <label for="uname">Username</label>
        <input type="text" name="uname" class="form-control" id='name' value="johnd" ngModel />
    </div>
    <div class="form-group">
        <label for="pword">Password</label>
        <input type="password" name="pword" class="form-control" id='pw' value="m38rmF$" ngModel />
    </div>
    <div class="btn-container">
        <button class="btn btn-dark" (click)="Login()" >Login</button>
    </div>
    </div>

</div>